body {
	margin-left: 10%;
	margin-right: 10%;
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 0;
	padding-bottom: 0;
	font-weight: lighter;
}

h2 {
	font-size: xx-large;
}

h2, h1, p {
	font-weight: lighter;
}

p {
	font-family: 'Albert Sans', sans-serif;
}

/* section.panel {
	display: flex;
	flex-direction: row;
	font-weight: lighter;
} */

header {
	width: 290px;
	position: fixed;
	/* height: 100vh; */
	float: left;
	padding: 0px 100px 0px 50px;
	text-align: center;
}

/* div.static {
	align-items: center;
	height: 100vh;
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	width: 40%;
	text-align: center;
	padding: 0px 100px 0px 50px;
} */

#pfp {
    display: block;
	width: 200px;
    /* float: top; */
    border-radius: 50%;
    border: 2px solid #00212D;
	margin-left: auto;
	margin-right: auto;
	margin-top: 149px;
}

.contact a {
	text-decoration: none;
	color: #00212D;
	opacity: 0.8;
	padding: 0px 15px 0px 0px;
}

.contact a:hover {
	opacity: 1;
	text-decoration: none;
}

section.scroll {
	float: right;
	width: 60%;
	margin-top: 49px;
	/* padding-right: 50px; */
	padding: 20px 50px 0 0;
}

section.scroll section.project {
	margin-bottom: 40px;
}

section.scroll section.project h1 {
	margin-bottom: 0;
}

section.scroll section.project p {
	padding-top: 7px;
}

section.scroll section.project p.link {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

section.scroll section.project p.link a{
	opacity: 0.8;
	color: #00212D;
	text-decoration: none;
}

section.scroll section.project p.link a:hover {opacity: 1;}

/* div.scroll {
	margin-top: 49px;
	width: 60%;
	padding-right: 50px;
}

div.scroll section.project {
	margin-bottom: 40px;
}

div.scroll section.project h1 {
	margin-bottom: 0;
}

div.scroll section.project p {
	padding-top: 7px;
}

div.scroll section.project p.link {
	float: right;
	margin: 0;
	padding: 0;
	font-size: 12px;
}

div.scroll section.project p.link a{
	opacity: 0.8;
	color: #00212D;
	text-decoration: none;
}

div.scroll section.project p.link a:hover {opacity: 1;} */

@media (max-width: 1250px) {
	header {
		width: 240px;
		position: fixed;
		/* height: 100vh; */
		float: left;
		padding: 0px 50px 0px 0;
		text-align: center;
	}

	section.scroll {
		float: right;
		width: 60%;
		margin-top: 49px;
		padding: 50px 20px 0 0;
	}
}

@media (max-width: 1024px) {
	/* section.panel {
		display: flex;
		flex-direction: column;
	}
	div.static {
		padding: 100px 0px 0px 0px;
		width: 100%;
		margin: 0;
		position: static;
	}
	div.scroll {
		width: 100%;
		padding: 0;
		margin: 0;
	} */

	header {
		padding: 100px 0px 0px 0px;
		width: 100%;
		margin: 0;
		position: static;
	}

	#pfp {
		display: block;
		width: 200px;
		border-radius: 50%;
		border: 2px solid #00212D;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
	}

	section.scroll {
		width: 100%;
		padding: 0;
		margin: 0;
	}
}