.projects-main-section {
	/* grid-template-columns: repeat(1, minmax(0px, 1fr)); */
	/* gap: 4vh; */
	/* display: grid; */
	/* padding-left: 7vw; */
	/* padding-right: 7vw; */
	margin-top: 1vh;
	/* padding-top: 1vh; */
}

.project {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1;

	color: #273F4B;
	/* padding-bottom: 2vh; */
	border-bottom: 1px dashed #273F4B;
	padding-left: 7vw;
	padding-right: 7vw;
}

.projects-main-section a:hover {
	color: #70c464;
}

.my-github {
	/* border-top: 1px dashed #273F4B; */
	padding-left: 7vw;
	padding-right: 7vw;
}

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: EB Garamond;
	font-weight: lighter;
	font-size: 2.5em;
}
h2 {
	font-family: Open Sans;
	font-weight: lighter;
	font-size: 1.5em;
}
p {
	font-family: Open Sans;
	font-weight: lighter;
	font-size: 1.1em;
}

.tab {
	overflow: hidden;
	background-color: white;
	font-family: Open Sans;
	padding-left: 7vw;
	border-bottom: 1px dashed #273F4B;
}
  
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
}
  
.tab button:hover {
	background-color: #70c464;
}
  
.tab button.active {
	background-color: #52AA4B;
	color: white;
}
  
.tabcontent {
	display: none;
	/* padding: 6px 12px; */
	/* border: 1px solid #70c464; */
	border-top: none;
}

button {
	font-family: Open Sans;
	font-weight: lighter;
}