.projects-main-section {
	/* grid-template-columns: repeat(2, minmax(0px, 1fr)); */
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4vh 2vw;
	
	padding-left: 7vw;
	padding-right: 7vw;
	/* margin-top: 1vh; */
	padding-top: 5vh;
	/* background-color: #273F4B; */
}

.project {
	/* display: flex;
	align-items: center;
	justify-content: space-between;
	flex-grow: 1; */

	background-color: #273F4B;
	/* aspect-ratio: 1; */

	/* color: #273F4B; */
	color: white;
	/* border-bottom: 1px dashed #273F4B; */
	/* border-bottom: 5px solid white; */
	padding-left: 3vw;
	padding-right: 3vw;
	border-radius: 20px;
}

.project:hover {
	/* background-color: #70c464; */
	box-shadow: 3px 3px 10px #273F4B; 
}

/* .projects-main-section a:hover {
	color: #70c464;
} */

/* .my-github {
	padding-left: 7vw;
	padding-right: 7vw;
	padding-bottom: 0.6vh;
	padding-top: 0.6vh;
	color: white;
	background-color: #273F4B;
} */

a {
	text-decoration: none;
	color: inherit;
}

h1 {
	font-family: EB Garamond;
	/* font-weight: lighter; */
	font-size: 2.5em;
}
h2 {
	font-family: Open Sans;
	font-weight: lighter;
	font-size: 1.2em;
}
/* p {
	font-family: Open Sans;
	font-weight: lighter;
	font-size: 1.1em;
} */

/* .tab {
	overflow: hidden;
	background-color: white;
	font-family: Open Sans;
	padding-left: 7vw;
}
  
.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 16px;
	transition: 0.3s;
	font-size: 17px;
	border-bottom: 1px solid white;
}
  
.tab button:hover {
	background-color: #70c464;
}
  
.tab button.active {
	background-color: #273F4B;
	color: white;
}
  
.tabcontent {
	display: none;
	border-top: none;
}

button {
	font-family: Open Sans;
	font-weight: lighter;
} */

/* .main-footer {
	background-color: #273F4B;
	flex-direction: column;
	border-top: 1px dashed white;
	display: flex;
	align-items: center;
	background-color: #273F4B;
	height: 70px;
	font-family: Open Sans;
	font-weight: lighter;
}

.main-footer:hover {
	cursor: pointer;
}

.main-footer:hover .arrow {
	cursor: pointer;
	border-bottom: 15px solid #52AA4B;
}
.main-footer:hover #to-top {
	cursor: pointer;
	color: #52AA4B;
}

#to-top {
	border: none;
	outline: none;
	color: white;
	cursor: pointer;
	font-size: 0.6em;
}

.arrow {
	margin-top: 25px;
	margin-bottom: 5px;
	display: inline-block;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid white;
	animation: float 3s ease-in-out infinite;
}

@keyframes float {
	0% {
	  transform: translatey(0px);
	}
	50% {
	  transform: translatey(-10px);
	}
	100% {
	  transform: translatey(0px);
	}
} */
