@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&family=Nanum+Myeongjo:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@300&display=swap');

:root {
	--fontColor : #00212D;
	--subtitleColour: white;
	/* --cardLinkHoverColour: rgb(151, 208, 212); */
	/* --cardLinkColour: #ff7965; */
	/* --backgroundColour : linear-gradient(to top,#4a6064, #283436,#283436); */
	/* --overlay: rgba(0, 0, 0, 0.4); */
	--navColor: #00212D;
	/* --pathColour: #283436; */
	--headerFont: 'Nanum Myeongjo', serif;
	--bodyFont: 'Albert Sans', sans-serif;
}

/* body {
	background-color: white;
} */

#nav {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
  	z-index: 2;
	background-color: var(--navColor);
}

#nav li {
	list-style: none;
	color: var(--subtitleColour);
	margin: 15px 20px;
	text-align: center;
	font-family: var(--bodyFont);
	font-weight: lighter;
}

#nav > li > a {
	opacity: 0.8;
	color: var(--subtitleColour);
	text-decoration: none;
}

#nav > li > a:hover {opacity: 1;}

p.header {
	font-family: var(--headerFont);
	font-size: 8vw;
	letter-spacing: 0.03em;
	color: #00212D !important;
}

@media (max-width: 800px) {
	body {
		font-size: 16px;
	}
}