@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

.sidenav {
	height: 100%;
	width: 25vw;
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1;
	top: 0; /* Stay at the top */
	left: 0;
	background-color: #142B12; /* Black */
	overflow-x: hidden; /* Disable horizontal scroll */
	/* padding-top: 20px; */
	font-family: EB Garamond;
	padding-top: 25vh;
}
.sidenav a {
	/* padding: 6px 8px 6px 16px; */
	padding: 6px 9vw 6px 16px;
	text-decoration: none;
	font-size: 1.2em;
	color: white;
	display: block;
	text-align: right;
}
.sidenav a:hover {
	color: #52AA4B;
}

.main {
	padding-top: 3vh;
	padding-bottom: 5vh;
	margin-left: 30vw;
	/* padding: 0px 10px; */
	/* padding-left: 17vw; */
	padding-right: 17vw;
}

/* @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
} */
  
  

/* a {
	text-decoration: none;
	color: inherit;
} */

h1 {
	font-family: EB Garamond;
	/* font-weight: lighter; */
	font-size: 3em;
}
h2 {
	font-family: Open Sans;
	font-weight: lighter;
	font-size: 1.8em;
}
h3 {
	font-family: EB Garamond;
	font-weight: lighter;
	font-size: 1.6em;
}
p {
	font-family: Open Sans;
	font-weight: lighter;
	font-size: 0.9em;
}
ul {
	/* list-style: none; */
	font-family: Open Sans;
	font-weight: lighter;
	font-size: 0.9em;
}
